<div class="container-login">
    <h2>Iniciar Sesión</h2>

    <form class="mt-4 form-login">
        <div class="mb-3">
            <label for="inputEmail" class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control" id="inputEmail">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
    </form>

    <button class="btn btn-warning" (click)="login()">Ingresar</button>
</div>